Package: com.yourcompany.docktransparent
Name: docktransparent
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Hansmander Singh
Author: Hansmander Singh
Section: Tweaks
